@font-face {
	font-family: helvetica;
	src: url(../fonts/helvetica.woff2) format('woff');
}
@font-face {
	font-family: helvetica;
	src: url(../fonts/helvetica-bold.woff2) format('woff');
	font-weight: 700;
}
* {
	font-family: Helvetica, sans-serif;
}
body {
	font-family: Helvetica, sans-serif;
	text-indent: 0px;
	/* background-color: #e5e3e4; */
	color: #5c5c5e;
}
.flex {
	display: flex;
}
.grid {
	display: grid;
}
.container {
	max-width: calc(62% + 8px);
}
:root {
	--global__gradient: linear-gradient(#bc10d8, #5000fa);
}
.grad__text {
	background: var(--global__gradient);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}
.grad__border {
	border: 2px solid transparent;
	border-image: var(--global__gradient);
	border-image-slice: 1;
}
.btn_gradient {
	background: var(--global__gradient);
	border-radius: 0px;
}
