@media (min-width: 350px) and (max-width: 599px) {
    .bg {
        background-size: 400%;
        padding-bottom: 50px;
      }
    header {
        flex-direction: column;
    }
    .menu {
        margin-top: 10px;
        margin-bottom: 30px;
    }
    .banner__img {
        display: none;
    }
    .banner-top {
        flex-basis: 100%;
        width: 100%;
    }
}