.section-title {
  color: #219fa3;
  text-align: center;
  margin-bottom: 35px;
  text-transform: uppercase;
  font: bold 32px;
}
/* Заголовок */
.header {
  position: absolute;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 100px 5px;
  background-color: #0000001d;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  box-shadow: 0 10px 15px #00000063;
}
/* Логотип заголовка */
.header__logo {
  font-size: 1.5em;
}
/* Номер в заголовке */
.header__phone {
  padding: 10px;
}
/* Что происходит при наведении */
.header__logo:hover,
.header__phone:hover {
  border-radius: 15px;
  transition: background-color 0.3s, color 0.3s;
  background-color: #ffffffa2;
  color: #219fa3;
  cursor: help;
}
.logo-link:active {
  text-decoration: underline;
}
/* Слоган Контейнер*/
.slogan {
  position: relative;
  justify-content: center;
  text-align: center;
  color: #fff;
  min-height: 100vh;
}
/* Задний фон */
.slogan-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #219fa3;
  background-size: cover;
  z-index: -1;
}
.slogan-bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* Заглавие */
.slogan__title {
  font: bold, 50px;
}
/* Подзаголовок */
.slogan__subtitle {
  margin-bottom: 80px;
  font-size: 25px;
  font-weight: normal;
}
/* Кнопка */
.slogan__btn {
  color: #fff;
  background-color: #219fa3;
  text-align: center;
  font-size: 0.8em;
  padding: 15px 40px;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 500;
}
.slogan__btn:hover {
  background-color: #fff;
  color: #000;
  transition: 0.3s linear;
}
.slogan__btn:active {
  box-shadow: inset 0 0 3px #219fa3;
}
.particularity,
.manager,
.selection-tour {
  background-color: #f1f1f1;
  color: #219fa3;
}
.particularity__title {
  font-size: 1.3em;
  margin-bottom: 20px;
  color: #219fa3;
  font-weight: 500;
  position: relative;
}
.particularity__title::after {
  position: absolute;
  content: "";
  width: 40px;
  height: 2px;
  background-color: #219fa3;
  top: 50%;
  right: -55px;
}
.particularity__title::before {
  position: absolute;
  content: "";
  width: 40px;
  height: 2px;
  background-color: #219fa3;
  top: 50%;
  left: -55px;
}
.particularity__text {
  color: #219fa3;
  text-align: center;
  max-width: 70%;
  margin-bottom: 20px;
}
.particularity__title:hover::after {
  position: absolute;
  content: "";
  width: 60px;
  height: 2px;
  background-color: #555;
  top: 50%;
  right: -65px;
  transition: all 0.3s;
}
.particularity__title:hover::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 2px;
  background-color: #555;
  top: 50%;
  left: -65px;
  transition: all 0.3s;
}
/* Фильтр */
.ff-container {
  text-align: center;
}
.ff-container input {
  display: none;
}
.ff-container label {
  min-height: 50px;
  color: #219fa3;
  cursor: pointer;
}
.grid {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}
.ff-item {
  margin-top: 30px;
}
.card {
  text-align: center;
  line-height: 1.5;
  margin: 20px;
}
.card img {
  max-width: 100%;
  width: 400px;
  object-fit: cover;
  height: 300px;
}
.card-resort,
.card-price {
  color: #219fa3;
}
/* Консультанты */
.manager__text {
  text-align: center;
  margin-bottom: 30px;
  color: #414a4f;
  font-size: 20px;
}
.team-list {
  width: 30%;
  text-align: center;
}
.team-list p {
  color: #414a4f;
  font-size: 18px;
}
.team-list__img {
  max-width: 60%;
  width: 400px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 0 3px 3px #219fa318;
}
.team-list__img:hover {
  filter: brightness(80%);
  border-radius: 50%;
  transition: all 0.3s;
  box-shadow: 0 0 3px 3px #219fa318;
}
/* Видео Фон */
.video-bg {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.video-bg video {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  filter: brightness(80%);
}
.video-bg::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.video-bg__content {
  z-index: 2;
  color: #fff;
  text-align: center;
  padding: 20px;
}
/* Наши преймущества */
.features-text {
  text-align: center;
  margin-bottom: 30px;
}
.grid-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px 0 30px;
}
.list-item {
  flex-basis: 10%;
  margin: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.list-item i {
  font-size: 40px;
  color: #219fa3;
  margin-bottom: 25px;
}
.list-item:hover i {
  color: #414a4f;
  transition: all 0.3s;
}
.item-text {
  font-size: 0.9em;
  line-height: 1.3;
}
/* Отзывы */
.reviews {
  display: flex;
  text-align: center;
}

.item:nth-child(even) {
  background-color: #219fa3;

}
.item:nth-child(odd) {
  background-color: #414a4f;
}
.item {
  padding: 25px;
  height: 50vh;
  display: flex;
  align-items: center;
  flex-basis: 25%;
}
.item span {
line-height: 1.5;
font-size: 0.8em;
}
.item:hover {
  flex-basis: 65%;
  transition: all 1s;
}
/* О компании/подбор тура/ форма */
.section-text {
  text-align: center;
  margin-bottom: 30px;max-width: 80%;
}
/* футер */
.footer {
  background-color: #414a4f;
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-social {
  display: flex;
  font-size: 42px;
}
.social__item {
  margin: 0px 40px;
}
.social__item:first-child {
  margin-left: 0;
}
.social__item:last-child {
  margin-right: 0;
}
.social-link {
  color: white;
}
.social-link:hover {
  color: #219fa3;
}
.footer-text {
  text-transform: uppercase;
  font-size: 0.7em;
  margin-top: 10px;
}
/* Адаптация под планшет */
/* Адаптация под смартфон */