/* Tablet Adaptation */
@media (min-width: 804px) and (max-width: 1200px) {
    /* Header */
    header {
      flex-direction: column;
      padding-bottom: 20px;
      margin-bottom: 0;
    }
    nav {
      margin-left: 0px;
    }
    .sung {
      padding-top: 30px;
      justify-content: center;
    }
  
    /* Banner */
    .container {
      width: 100%;
    }
    .banner-top {
      padding: 0;
      background-image: none;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      text-align: center;
      justify-content: center;
      align-items: center;
    }
    .banner__title {
      max-width: 70%;
      margin: 50px auto 20px;
    }
    .banner__text {
      max-width: 80%;
      margin: 0 auto 20px;
    }
    /* Background image */
    .banner-top:before {
      content: "";
      display: block;
      position: absolute;
      top: 15%;
      left: 65%;
      background-image: url("../img/Image.svg");
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      background-size: 30%;
      opacity: 50%;
      z-index: -1;
    }
  
    /* We design tool to unveil your superpowers */
    .card {
      flex-wrap: wrap;
    }
    .card__item {
      flex-basis: 50%;
    }
    .now-btn {
      max-width: 25%;
    }
  
    /*  Some Containers */
    .flex-container {
      padding-left: 100px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 100%;
    }
    .flex-img {
      width: 100%;
    }
    .flex-img img {
      width: 80%;
    }
    .bold {
      margin-left: 0;
    }
  
    /* Need a superhero? */
    .managers {
      max-width: 90%;
    }
    .teams-text {
      max-width: 60%;
    }
    .teams-line1 {
      justify-content: center;
    }
  
    /* Marketing Strategies */
    .blog h2 {
      padding-left: 100px;
    }
    .blog-text {
      padding-left: 100px;
    }
    .slider {
      padding: 0;
      margin: 0;
      padding-left: 50px;
      padding-right: 50px;
      display: flex;
      flex-wrap: nowrap;
    }
    .slide__item {
      min-width: auto;
      text-align: center;
      margin-bottom: 0;
      width: auto;
      margin-right: 40px;
    }
    .slide__item:last-child {
      margin: 0;
    }
    .slide__item img {
      width: 210px;
    }
    .link h3 {
      font-size: 20px;
    }
  
    /* Fooooooooter */
    .footer-inner {
      justify-content: space-around;
    }
    .footer-inner h4 {
      margin-bottom: 15px;
    }
    .footer-form h4 {
      text-align: center;
      padding-top: 20px;
      margin-bottom: 25px;
      width: 100%;
    }
    .footer-form {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    .footer-form input {
      width: 230px;
    }
    .form-btn {
      margin-left: 40px;
      margin-bottom: 20px;
      padding: 18px;
    }
  }
  @media (min-width: 861px) and (max-width: 1200px) {
    .banner__text {
      max-width: 90%;
    }
  }