<!-- Meta -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Tab bar color (Safari - MacOS, Ios;  Chrome, Brave, Samsung - Android) -->
<!-- Light theme -->
<meta name="theme-color" media="(prefers-color-scheme: light)" content="#e8cb0f" />
<!-- Dark theme -->
<meta name="theme-color" media="(prefers-color-scheme: dark)" content="#2a363b" />
<!-- Title -->
<title>Lumi Sky - фотостудия в Екатеринбурге</title>
<!-- Links -->
<link rel="stylesheet" href="/styles/reset.css">
<link rel="shortcut icon" href="/img/index/favicon.ico" type="image/x-icon">
<!-- Scripts -->
<script src="https://kit.fontawesome.com/06d986b207.js" crossorigin="anonymous"></script>
<script src="/js/active-menu.js"></script>
<script>		$(function () {
		$("#header").load("templates/header.html")
	})
	$(function () {
		$("#footer").load("templates/footer.html")
	})</script>
<script>
	$(document).ready(function () {
		$("body").css("opacity", "1")
	});
</script>