<nav class="nav">
	<ul class="menu">
		<li class="menu__item"><a href="index.html" class="menu-link">Главная</a></li>
		<li class="menu__item"><a href="index.html#service" class="menu-link">Услуги</a></li>
		<li class="menu__item"><a href="hall.html" class="menu-link">Залы</a></li>
		<li class="menu__item"><a href="portfolio.html" class="menu-link">Портфолио</a></li>
		<li class="menu__item"><a href="contact.html" class="menu-link">Контакты</a></li>
		<li class="menu__item"><a href="booking.html" class="menu-link btn">Бронировать</a></li>
	</ul>
</nav>
<script src="js/ap.js"></script>