<nav class="nav">
	<ul class="menu">
		<li class="menu__link"><a href="/index.html" class="menu-link">Главная</a></li>
		<li class="menu__link"><a href="/index.html#service" class="menu-link">Услуги</a></li>
		<li class="menu__link"><a href="/hall.html" class="menu-link">Залы</a></li>
		<li class="menu__link"><a href="/portfolio.html" class="menu-link">Портфолио</a></li>
		<li class="menu__link"><a href="/contact.html" class="menu-link">Контакты</a></li>
		<li class="menu__link"><a href="/booking.html" class="menu-link btn">Бронировать</a></li>
	</ul>
</nav>